In [2]:
import pandas as pd
dataset = pd.read_csv("./Glassdoor_Salary_Cleaned_Version.csv")
dataset.describe() # best way to look at is by using describe

,Rating,Founded,hourly,employer_provided,min_salary,max_salary,avg_salary,same_state,age,python_yn,R_yn,spark,aws,excel
count,742.000000,742.000000,742.000000,742.000000,742.000000,742.000000,742.000000,742.000000,742.000000,742.000000,742.000000,742.000000,742.000000,742.000000
mean,3.618868,1837.154987,0.032345,0.022911,74.068733,127.183288,100.626011,0.557951,46.591644,0.528302,0.002695,0.225067,0.237197,0.522911
std,0.801210,497.183763,0.177034,0.149721,31.869282,46.909006,38.855948,0.496965,53.778815,0.499535,0.051882,0.417908,0.425651,0.499812
min,-1.000000,-1.000000,0.000000,0.000000,10.000000,16.000000,13.500000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.300000,1939.000000,0.000000,0.000000,52.000000,96.000000,73.500000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.700000,1988.000000,0.000000,0.000000,69.500000,124.000000,97.500000,1.000000,24.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,4.000000,2007.000000,0.000000,0.000000,91.000000,155.000000,122.500000,1.000000,59.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,5.000000,2019.000000,1.000000,1.000000,202.000000,306.000000,254.000000,1.000000,276.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [3]:
dataset.T # transposes the data or specifically returns a matrix that is obtained by interchanging the rows and columns

,0,1,2,3,4,5,6,7,8,9,...,732,733,734,735,736,737,738,739,740,741
Job Title,Data Scientist,Healthcare Data Scientist,Data Scientist,Data Scientist,Data Scientist,Data Scientist,Data Scientist,Data Scientist,Research Scientist,Data Scientist,...,Machine Learning Engineer (NLP),Senior Data Analyst,Data Science Project Manager,Data Engineer,"Principal, Data Science - Advanced Analytics","Sr Scientist, Immuno-Oncology - Oncology",Senior Data Engineer,"Project Scientist - Auton Lab, Robotics Institute",Data Science Manager,Research Scientist – Security and Privacy
Salary Estimate,$53K-$91K (Glassdoor est.),$63K-$112K (Glassdoor est.),$80K-$90K (Glassdoor est.),$56K-$97K (Glassdoor est.),$86K-$143K (Glassdoor est.),$71K-$119K (Glassdoor est.),$54K-$93K (Glassdoor est.),$86K-$142K (Glassdoor est.),$38K-$84K (Glassdoor est.),$120K-$160K (Glassdoor est.),...,$80K-$142K (Glassdoor est.),$99K-$178K (Glassdoor est.),$37K-$100K (Glassdoor est.),$62K-$113K (Glassdoor est.),$86K-$137K (Glassdoor est.),$58K-$111K (Glassdoor est.),$72K-$133K (Glassdoor est.),$56K-$91K (Glassdoor est.),$95K-$160K (Glassdoor est.),$61K-$126K (Glassdoor est.)
Job Description,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",What You Will Do:\n\nI. General Summary\n\nThe...,"KnowBe4, Inc. is a high growth information sec...",*Organization and Job ID**\nJob ID: 310709\n\n...,Data Scientist\nAffinity Solutions / Marketing...,CyrusOne is seeking a talented Data Scientist ...,Job Description\n\n**Please only local candida...,Advanced Analytics – Lead Data Scientist\nOver...,SUMMARY\n\nThe Research Scientist I will be ta...,isn’t your usual company. Our work is powered ...,...,CK-12’s mission is to provide free access to o...,Senior Data Analyst\n\nAbout us\n\n\nLife360 b...,"At MassMutual, we are passionate about helping...",Do you find data architecture exciting? Does b...,IQVIA is the leading human data science compan...,Site Name: USA - Massachusetts - Cambridge\nPo...,THE CHALLENGE\nEventbrite has a world-class da...,The Auton Lab at Carnegie Mellon University is...,Data Science ManagerResponsibilities:\n\nOvers...,Returning Candidate? Log back in to the Career...
Rating,3.8,3.4,4.8,3.8,2.9,3.4,4.1,3.8,3.3,4.6,...,4.1,3.9,3.6,3.9,3.6,3.9,4.4,2.6,3.2,3.6
Company Name,Tecolote Research\n3.8,University of Maryland Medical System\n3.4,KnowBe4\n4.8,PNNL\n3.8,Affinity Solutions\n2.9,CyrusOne\n3.4,ClearOne Advantage\n4.1,Logic20/20\n3.8,Rochester Regional Health\n3.3,<intent>\n4.6,...,CK-12 Foundation\n4.1,Life360\n3.9,MassMutual\n3.6,Fivestars\n3.9,IQVIA\n3.6,GSK\n3.9,Eventbrite\n4.4,Software Engineering Institute\n2.6,"Numeric, LLC\n3.2",Riverside Research Institute\n3.6
Location,"Albuquerque, NM","Linthicum, MD","Clearwater, FL","Richland, WA","New York, NY","Dallas, TX","Baltimore, MD","San Jose, CA","Rochester, NY","New York, NY",...,"Palo Alto, CA","San Francisco, CA","Boston, MA","San Francisco, CA","Plymouth Meeting, PA","Cambridge, MA","Nashville, TN","Pittsburgh, PA","Allentown, PA","Beavercreek, OH"
Headquarters,"Goleta, CA","Baltimore, MD","Clearwater, FL","Richland, WA","New York, NY","Dallas, TX","Baltimore, MD","Seattle, WA","Rochester, NY","New York, NY",...,"Palo Alto, CA","San Francisco, CA","Springfield, MA","San Francisco, CA","Durham, NC","Brentford, United Kingdom","San Francisco, CA","Pittsburgh, PA","Chadds Ford, PA","Arlington, VA"
Size,501 to 1000 employees,10000+ employees,501 to 1000 employees,1001 to 5000 employees,51 to 200 employees,201 to 500 employees,501 to 1000 employees,201 to 500 employees,10000+ employees,51 to 200 employees,...,1 to 50 employees,51 to 200 employees,5001 to 10000 employees,201 to 500 employees,10000+ employees,10000+ employees,1001 to 5000 employees,501 to 1000 employees,1 to 50 employees,501 to 1000 employees
Founded,1973,1984,2010,1965,1998,2000,2008,2005,2014,2009,...,2007,2008,1851,2011,2017,1830,2006,1984,-1,1967
Type of ownership,Company - Private,Other Organization,Company - Private,Government,Company - Private,Company - Public,Company - Private,Company - Private,Hospital,Company - Private,...,Company - Private,Company - Public,Company - Private,Company - Private,Company - Public,Company - Public,Company - Public,College / University,Company - Private,Nonprofit Organization
Industry,Aerospace & Defense,Health Care Services & Hospitals,Security Services,Energy,Advertising & Marketing,Real Estate,Banks & Credit Unions,Consulting,Health Care Services & Hospitals,Internet,...,K-12 Education,Computer Hardware & Software,Insurance Carriers,Internet,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Internet,Colleges & Universities,Staffing & Outsourcing,Federal Agencies
Sector,Aerospace & Defense,Health Care,Business Services,"Oil, Gas, Energy & Utilities",Business Services,Real Estate,Finance,Business Services,Health Care,Information Technology,...,Education,Information Technology,Insurance,Information Technology,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Information Technology,Education,Business Services,Government
Revenue,$50 to $100 million (USD),$2 to $5 billion (USD),$100 to $500 million (USD),$500 million to $1 billion (USD),Unknown / Non-Applicable,$1 to $2 billion (USD),Unknown / Non-Applicable,$25 to $50 million (USD),$500 million to $1 billion (USD),$100 to $500 million (USD),...,Unknown / Non-Applicable,Unknown / Non-Applicable,$10+ billion (USD),$100 to $500 million (USD),$2 to $5 billion (USD),$10+ billion (USD),$100 to $500 million (USD),Unknown / Non-Applicable,$5 to $10 million (USD),$50 to $100 million (USD)
Competitors,-1,-1,-1,"Oak Ridge National Laboratory, National Renewa...","Commerce Signals, Cardlytics, Yodlee","Digital Realty, CoreSite, Equinix",-1,-1,-1,"Clicktripz, SmarterTravel",...,-1,-1,-1,"Belly, SpotOn","PPD, INC Research, PRA Health Sciences","Pfizer, AstraZeneca, Merck","See Tickets, TicketWeb, Vendini",-1,-1,-1
hourly,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
employer_provided,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
min_salary,53,63,80,56,86,71,54,86,38,120,...,80,99,37,62,86,58,72,56,95,61
max_salary,91,112,90,97,143,119,93,142,84,160,...,142,178,100,113,137,111,133,91,160,126
avg_salary,72.0,87.5,85.0,76.5,114.5,95.0,73.5,114.0,61.0,140.0,...,111.0,138.5,68.5,87.5,111.5,84.5,102.5,73.5,127.5,93.5
company_txt,Tecolote Research\n,University of Maryland Medical System\n,KnowBe4\n,PNNL\n,Affinity Solutions\n,CyrusOne\n,ClearOne Advantage\n,Logic20/20\n,Rochester Regional Health\n,<intent>\n,...,CK-12 Foundation\n,Life360\n,MassMutual\n,Fivestars\n,IQVIA\n,GSK\n,Eventbrite\n,Software Engineering Institute\n,"Numeric, LLC\n",Riverside Research Institute\n
job_state,NM,MD,FL,WA,NY,TX,MD,CA,NY,NY,...,CA,CA,MA,CA,PA,MA,TN,PA,PA,OH
same_state,0,0,1,1,1,1,1,0,1,1,...,1,1,0,1,0,0,0,1,0,0
age,47,36,10,55,22,20,12,15,6,11,...,13,12,169,9,3,190,14,36,-1,53
python_yn,1,1,1,1,1,1,0,1,0,1,...,1,1,0,1,0,0,1,0,0,1
R_yn,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
spark,0,0,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
aws,0,0,0,0,0,1,0,1,0,0,...,1,0,0,1,0,1,1,0,0,0
excel,1,0,1,0,1,1,1,1,0,0,...,1,0,1,1,0,0,0,1,1,0

In [4]:
dataset.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg_salary,company_txt,job_state,same_state,age,python_yn,R_yn,spark,aws,excel
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,72.0,Tecolote Research\n,NM,0,47,1,0,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,87.5,University of Maryland Medical System\n,MD,0,36,1,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,85.0,KnowBe4\n,FL,1,10,1,0,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,76.5,PNNL\n,WA,1,55,1,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,114.5,Affinity Solutions\n,NY,1,22,1,0,0,0,1

In [5]:
dataset.avg_salary

0       72.0
1       87.5
2       85.0
3       76.5
4      114.5
       ...
737     84.5
738    102.5
739     73.5
740    127.5
741     93.5
Name: avg_salary, Length: 742, dtype: float64

In [6]:
dataset.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,avg_salary,company_txt,job_state,same_state,age,python_yn,R_yn,spark,aws,excel
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,72.0,Tecolote Research\n,NM,0,47,1,0,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,87.5,University of Maryland Medical System\n,MD,0,36,1,0,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,85.0,KnowBe4\n,FL,1,10,1,0,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,76.5,PNNL\n,WA,1,55,1,0,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,114.5,Affinity Solutions\n,NY,1,22,1,0,0,0,1

In [7]:
sum(dataset.avg_salary)

74664.5

In [9]:
len(dataset.avg_salary)

742

In [10]:
sum(dataset.avg_salary)/len(dataset.avg_salary)

100.62601078167116

In [11]:
dataset.avg_salary.mean()

100.62601078167116

In [12]:
dataset.avg_salary.std()

38.85594815651248

In [15]:
dataset['min_employees'] = dataset['Size'].str.split("to")
dataset['min_employees']

0       [501 ,  1000 employees]
1            [10000+ employees]
2       [501 ,  1000 employees]
3      [1001 ,  5000 employees]
4         [51 ,  200 employees]
                 ...
737          [10000+ employees]
738    [1001 ,  5000 employees]
739     [501 ,  1000 employees]
740         [1 ,  50 employees]
741     [501 ,  1000 employees]
Name: min_employees, Length: 742, dtype: object

In [19]:
dataset[['min_employees', 'max_employees']] = dataset['Size'].str.split("to", expand=True)
dataset.T

,0,1,2,3,4,5,6,7,8,9,...,732,733,734,735,736,737,738,739,740,741
Job Title,Data Scientist,Healthcare Data Scientist,Data Scientist,Data Scientist,Data Scientist,Data Scientist,Data Scientist,Data Scientist,Research Scientist,Data Scientist,...,Machine Learning Engineer (NLP),Senior Data Analyst,Data Science Project Manager,Data Engineer,"Principal, Data Science - Advanced Analytics","Sr Scientist, Immuno-Oncology - Oncology",Senior Data Engineer,"Project Scientist - Auton Lab, Robotics Institute",Data Science Manager,Research Scientist – Security and Privacy
Salary Estimate,$53K-$91K (Glassdoor est.),$63K-$112K (Glassdoor est.),$80K-$90K (Glassdoor est.),$56K-$97K (Glassdoor est.),$86K-$143K (Glassdoor est.),$71K-$119K (Glassdoor est.),$54K-$93K (Glassdoor est.),$86K-$142K (Glassdoor est.),$38K-$84K (Glassdoor est.),$120K-$160K (Glassdoor est.),...,$80K-$142K (Glassdoor est.),$99K-$178K (Glassdoor est.),$37K-$100K (Glassdoor est.),$62K-$113K (Glassdoor est.),$86K-$137K (Glassdoor est.),$58K-$111K (Glassdoor est.),$72K-$133K (Glassdoor est.),$56K-$91K (Glassdoor est.),$95K-$160K (Glassdoor est.),$61K-$126K (Glassdoor est.)
Job Description,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",What You Will Do:\n\nI. General Summary\n\nThe...,"KnowBe4, Inc. is a high growth information sec...",*Organization and Job ID**\nJob ID: 310709\n\n...,Data Scientist\nAffinity Solutions / Marketing...,CyrusOne is seeking a talented Data Scientist ...,Job Description\n\n**Please only local candida...,Advanced Analytics – Lead Data Scientist\nOver...,SUMMARY\n\nThe Research Scientist I will be ta...,isn’t your usual company. Our work is powered ...,...,CK-12’s mission is to provide free access to o...,Senior Data Analyst\n\nAbout us\n\n\nLife360 b...,"At MassMutual, we are passionate about helping...",Do you find data architecture exciting? Does b...,IQVIA is the leading human data science compan...,Site Name: USA - Massachusetts - Cambridge\nPo...,THE CHALLENGE\nEventbrite has a world-class da...,The Auton Lab at Carnegie Mellon University is...,Data Science ManagerResponsibilities:\n\nOvers...,Returning Candidate? Log back in to the Career...
Rating,3.8,3.4,4.8,3.8,2.9,3.4,4.1,3.8,3.3,4.6,...,4.1,3.9,3.6,3.9,3.6,3.9,4.4,2.6,3.2,3.6
Company Name,Tecolote Research\n3.8,University of Maryland Medical System\n3.4,KnowBe4\n4.8,PNNL\n3.8,Affinity Solutions\n2.9,CyrusOne\n3.4,ClearOne Advantage\n4.1,Logic20/20\n3.8,Rochester Regional Health\n3.3,<intent>\n4.6,...,CK-12 Foundation\n4.1,Life360\n3.9,MassMutual\n3.6,Fivestars\n3.9,IQVIA\n3.6,GSK\n3.9,Eventbrite\n4.4,Software Engineering Institute\n2.6,"Numeric, LLC\n3.2",Riverside Research Institute\n3.6
Location,"Albuquerque, NM","Linthicum, MD","Clearwater, FL","Richland, WA","New York, NY","Dallas, TX","Baltimore, MD","San Jose, CA","Rochester, NY","New York, NY",...,"Palo Alto, CA","San Francisco, CA","Boston, MA","San Francisco, CA","Plymouth Meeting, PA","Cambridge, MA","Nashville, TN","Pittsburgh, PA","Allentown, PA","Beavercreek, OH"
Headquarters,"Goleta, CA","Baltimore, MD","Clearwater, FL","Richland, WA","New York, NY","Dallas, TX","Baltimore, MD","Seattle, WA","Rochester, NY","New York, NY",...,"Palo Alto, CA","San Francisco, CA","Springfield, MA","San Francisco, CA","Durham, NC","Brentford, United Kingdom","San Francisco, CA","Pittsburgh, PA","Chadds Ford, PA","Arlington, VA"
Size,501 to 1000 employees,10000+ employees,501 to 1000 employees,1001 to 5000 employees,51 to 200 employees,201 to 500 employees,501 to 1000 employees,201 to 500 employees,10000+ employees,51 to 200 employees,...,1 to 50 employees,51 to 200 employees,5001 to 10000 employees,201 to 500 employees,10000+ employees,10000+ employees,1001 to 5000 employees,501 to 1000 employees,1 to 50 employees,501 to 1000 employees
Founded,1973,1984,2010,1965,1998,2000,2008,2005,2014,2009,...,2007,2008,1851,2011,2017,1830,2006,1984,-1,1967
Type of ownership,Company - Private,Other Organization,Company - Private,Government,Company - Private,Company - Public,Company - Private,Company - Private,Hospital,Company - Private,...,Company - Private,Company - Public,Company - Private,Company - Private,Company - Public,Company - Public,Company - Public,College / University,Company - Private,Nonprofit Organization
Industry,Aerospace & Defense,Health Care Services & Hospitals,Security Services,Energy,Advertising & Marketing,Real Estate,Banks & Credit Unions,Consulting,Health Care Services & Hospitals,Internet,...,K-12 Education,Computer Hardware & Software,Insurance Carriers,Internet,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Internet,Colleges & Universities,Staffing & Outsourcing,Federal Agencies
Sector,Aerospace & Defense,Health Care,Business Services,"Oil, Gas, Energy & Utilities",Business Services,Real Estate,Finance,Business Services,Health Care,Information Technology,...,Education,Information Technology,Insurance,Information Technology,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Information Technology,Education,Business Services,Government
Revenue,$50 to $100 million (USD),$2 to $5 billion (USD),$100 to $500 million (USD),$500 million to $1 billion (USD),Unknown / Non-Applicable,$1 to $2 billion (USD),Unknown / Non-Applicable,$25 to $50 million (USD),$500 million to $1 billion (USD),$100 to $500 million (USD),...,Unknown / Non-Applicable,Unknown / Non-Applicable,$10+ billion (USD),$100 to $500 million (USD),$2 to $5 billion (USD),$10+ billion (USD),$100 to $500 million (USD),Unknown / Non-Applicable,$5 to $10 million (USD),$50 to $100 million (USD)
Competitors,-1,-1,-1,"Oak Ridge National Laboratory, National Renewa...","Commerce Signals, Cardlytics, Yodlee","Digital Realty, CoreSite, Equinix",-1,-1,-1,"Clicktripz, SmarterTravel",...,-1,-1,-1,"Belly, SpotOn","PPD, INC Research, PRA Health Sciences","Pfizer, AstraZeneca, Merck","See Tickets, TicketWeb, Vendini",-1,-1,-1
hourly,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
employer_provided,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
min_salary,53,63,80,56,86,71,54,86,38,120,...,80,99,37,62,86,58,72,56,95,61
max_salary,91,112,90,97,143,119,93,142,84,160,...,142,178,100,113,137,111,133,91,160,126
avg_salary,72.0,87.5,85.0,76.5,114.5,95.0,73.5,114.0,61.0,140.0,...,111.0,138.5,68.5,87.5,111.5,84.5,102.5,73.5,127.5,93.5
company_txt,Tecolote Research\n,University of Maryland Medical System\n,KnowBe4\n,PNNL\n,Affinity Solutions\n,CyrusOne\n,ClearOne Advantage\n,Logic20/20\n,Rochester Regional Health\n,<intent>\n,...,CK-12 Foundation\n,Life360\n,MassMutual\n,Fivestars\n,IQVIA\n,GSK\n,Eventbrite\n,Software Engineering Institute\n,"Numeric, LLC\n",Riverside Research Institute\n
job_state,NM,MD,FL,WA,NY,TX,MD,CA,NY,NY,...,CA,CA,MA,CA,PA,MA,TN,PA,PA,OH
same_state,0,0,1,1,1,1,1,0,1,1,...,1,1,0,1,0,0,0,1,0,0
age,47,36,10,55,22,20,12,15,6,11,...,13,12,169,9,3,190,14,36,-1,53
python_yn,1,1,1,1,1,1,0,1,0,1,...,1,1,0,1,0,0,1,0,0,1
R_yn,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
spark,0,0,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
aws,0,0,0,0,0,1,0,1,0,0,...,1,0,0,1,0,1,1,0,0,0
excel,1,0,1,0,1,1,1,1,0,0,...,1,0,1,1,0,0,0,1,1,0
min_employees,501,10000+ employees,501,1001,51,201,501,201,10000+ employees,51,...,1,51,5001,201,10000+ employees,10000+ employees,1001,501,1,501
max_employees,1000 employees,None,1000 employees,5000 employees,200 employees,500 employees,1000 employees,500 employees,None,200 employees,...,50 employees,200 employees,10000 employees,500 employees,None,None,5000 employees,1000 employees,50 employees,1000 employees

In [20]:
dataset['max_employees'] = dataset['max_employees'].str.replace("employees","")

In [21]:
dataset['max_employees'].head(50)

0       1000
1        None
2       1000
3       5000
4        200
5        500
6       1000
7        500
8        None
9        200
10      1000
11     10000
12       None
13       500
14       None
15      5000
16       200
17       500
18       200
19      1000
20       500
21       500
22      1000
23       200
24      1000
25       None
26      5000
27     10000
28       None
29      1000
30      5000
31      5000
32       None
33     10000
34       500
35       500
36      5000
37       500
38     10000
39       500
40       500
41        50
42       200
43     10000
44      5000
45       None
46       None
47     10000
48      1000
49       None
Name: max_employees, dtype: object

In [22]:
print(dataset['max_employees'][49])

None

In [24]:
dataset['min_employees'].head(50)

0                 501
1     10000+ employees
2                 501
3                1001
4                  51
5                 201
6                 501
7                 201
8     10000+ employees
9                  51
10                501
11               5001
12    10000+ employees
13                201
14    10000+ employees
15               1001
16                 51
17                201
18                 51
19                501
20                201
21                201
22                501
23                 51
24                501
25    10000+ employees
26               1001
27               5001
28    10000+ employees
29                501
30               1001
31               1001
32    10000+ employees
33               5001
34                201
35                201
36               1001
37                201
38               5001
39                201
40                201
41                  1
42                 51
43               5001
44               1001
45             Unknown
46    10000+ employees
47               5001
48                501
49    10000+ employees
Name: min_employees, dtype: object

In [27]:
print(dataset['max_employees'][40])

 500

In [28]:
dataset['max_employees'] = dataset['max_employees'].replace('None', 10000)

In [29]:
dataset['max_employees'].head(50)

0       1000
1        None
2       1000
3       5000
4        200
5        500
6       1000
7        500
8        None
9        200
10      1000
11     10000
12       None
13       500
14       None
15      5000
16       200
17       500
18       200
19      1000
20       500
21       500
22      1000
23       200
24      1000
25       None
26      5000
27     10000
28       None
29      1000
30      5000
31      5000
32       None
33     10000
34       500
35       500
36      5000
37       500
38     10000
39       500
40       500
41        50
42       200
43     10000
44      5000
45       None
46       None
47     10000
48      1000
49       None
Name: max_employees, dtype: object

In [30]:
dataset['max_employees'] = dataset['max_employees'].dropna()

In [31]:
dataset['max_employees'].head(50)

0       1000
1         NaN
2       1000
3       5000
4        200
5        500
6       1000
7        500
8         NaN
9        200
10      1000
11     10000
12        NaN
13       500
14        NaN
15      5000
16       200
17       500
18       200
19      1000
20       500
21       500
22      1000
23       200
24      1000
25        NaN
26      5000
27     10000
28        NaN
29      1000
30      5000
31      5000
32        NaN
33     10000
34       500
35       500
36      5000
37       500
38     10000
39       500
40       500
41        50
42       200
43     10000
44      5000
45        NaN
46        NaN
47     10000
48      1000
49        NaN
Name: max_employees, dtype: object